.Layout
	background-image url('../images/city.jpg')
	background-size cover
	border 1px solid red
	display flex
	flex-direction column
	justify-content space-between
	min-height 100vh
	margin -.5em
	padding .5em
	test(brown)
	> section
		margin 0 .5em
	&-main 
		display flex
		justify-content space-between
	&-status
		test(green)
		width 200px
	&-battle
		test(orange)
		background-image url('../images/pattern.jpg')
		flex 1
		margin 0 .5em
	&-phases
		test(purple)
		position relative
		width 200px
	&-antagonist
		test(blue)
		display flex
		justify-content space-between
	&-player
		test(gray)
		display flex
		justify-content space-between
		

		

