.Card
	background #C2AC37
	border 5px solid black
	border-radius .5em
	box-shadow 0 0 10px rgba(black, .5)
	padding .5em
	width 170px


	&-attack
		background black 
		color white
		font-size .7em
	&-description
		background white
		font-size 12px
		padding .5em
		margin-bottom .5em
		border 2px solid black
		overflow(ellipsis)
	&-name
		color white
		font-size 1em
		text-transform uppercase
		margin 0 0 .5em 0
		overflow(ellipsis)

	&-image
		width 100%
