doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	title Marvel Card Game
	link(rel="stylesheet", href="./public/css/app.css")
body
	include layout/template.jade
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="public/marvel-api.js")
	script(src="public/app.js")